body{
    background-image:url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   /*  background-position: center top;
	background-attachment: fixed; */
    background-color: #F7C59F;
    font-family: poppins;
    color: #173753;
    position: relative;
}

form{
    display: block;
    font-weight: 600;
    font-size: 1.1rem;
    margin: auto;
}

p{
    text-align: center;
    margin-bottom: 30px;
}
input, label{
    display: inline-block;
    margin-bottom: 15px;
}

#ml{
    background:rgba(232, 255, 255, 0.9);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-items: center;
    align-items: center;
    max-width: 400px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 25px;
    border-style: solid;
    border-color: #173753;
    border-width: 3px;
    margin-top: 250px;
    z-index: 1;
}

h1{
    font-size: 3.2rem;
    margin: auto;
    margin-top: 20px;
}

#waves{
    position: absolute;
    z-index: -1;
    max-height: 100vh;
    top: -250px;
}

#submit{
    color: rgb(232, 255, 255);
    font-weight: 600;
    font-size: 1.5rem;
    background-color: #173753;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px; 
    border-radius: 5px;
    margin-top: 20px;
    border-color: #173753;
}

#centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    background-color: rgba(232, 255, 255,0);
    border-radius: 3px;
    border-color: #173753;
    border-style: solid;
    max-width: 200px;
}


#overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 440px;
    background-color: rgb(232, 255, 255);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 25px;
    border-style: solid;
    border-color: #173753;
    border-width: 3px;
    align-items: center;
    display: none;
}

#overlay p{
    text-align: left;
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 33px;
    font-size: 17px;
}

#overlay button{
    color: rgb(232, 255, 255);
    font-weight: 600;
    font-size: 1.5rem;
    background-color: #173753;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px; 
    border-radius: 5px;
    border-color: #173753;
    margin-top: 15px;
    margin-bottom: 15px;
}

#error{
    color:#173753;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.formImput{
    display: flex;
    align-items: center ;
}

label{
    max-height: 27px;
    min-width: 150px;
    white-space: nowrap;
    margin-right: 5px;
}


