ul {
	list-style-type:none;
    margin: 0;
    padding: 0;
    line-height: 1.6em;
}

img{
	max-width: 100%;
	height: auto;
	display:block;
}

body{
    margin-left: 10%;
    margin-right: 10%;
    font-family: montserrat;
    background-color: #B6E0F7;
    position: relative;
}

#night {
    background-color: #000C3D;
}

h1{
    font-size: 4.2em;
    color: #000C3D;
    padding-top: 60px;
    margin-bottom: 0;
}

#night h1{
    color: #DAEFFB;
}

#night #underm{
    color: #DAEFFB;
}

#underm{
    font-size: 1.7em;
    margin-top: 0;
    color: #000C3D;
}

main{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
}

article{
    padding: 2%;
    background-image: url(cloud1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-size: 1em;
    margin: auto;
    text-align: center;
    padding-left: 50px;
    padding-top: 50px;
}

#cloud1{
    width: 400px;
    height: 130px;
}

#cloud2{
    width: 400px;
    height: 150px;
}

#cloud3{
    width: 400px;
    height: 150px;
    padding-left: 80px;
}

#cloud4{
    width: 400px;
    height: 150px;
}




h2{
    margin-top: 0%;
}

#buttonday a{
    font-size: 1.4em;
    background-color: #DAEFFB;
    display: block;
    text-decoration: none;
    padding: .3em;
    border-radius: 45px;
    border: 2px solid #000C3D;
    text-align: center;
    max-width: 240px;
    text-decoration: none;
    color: #000C3D;
}

#buttonnight a{
    font-size: 1.4em;
    color: #DAEFFB;
    background-color: #000C3D;
    display: block;
    text-decoration: none;
    padding: .3em;
    border-radius: 45px;
    border: 2px solid #000C3D;
    text-align: center;
    max-width: 240px;
    text-decoration: none;
}

#sun{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #FFBF1F;
    animation: arc 10s ease-in-out;
    animation-fill-mode: forwards;
    position: absolute;
    z-index: -1;
}

#moon{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #cbd7de;
    animation: arc 10s ease-in-out;
    animation-fill-mode: forwards;
    position: absolute;
    z-index: -1;
}

footer{

    padding: 30px;
    max-width: 100;
}

#night footer{
    color: #DAEFFB;
}

@keyframes arc {

    0% {
        transform: translate(-400%, 80%) rotate(90deg);
      }
   
      100% {
        transform: translate(950%,-950%) rotate(270deg);
      }
    
}